/*body{ 
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #f2f2f2;
}

h2{
  text-align: center;
}

form{
  display: block;
  text-align: center;
}

input{
  background-color: #FFFFFF;
  border-style: none;
}

a{
  text-decoration: none;
  display: flex;
  justify-content: center;
}

*/
body{
  width: 100%;
}

.container{
  width: 60%;
  /*display: block;*/
  /*flex-direction: column;*/
}